.container {
  margin: 100px 0 0 250px;
  width: 70%;
  box-sizing: border-box;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 40px;
}

.selectField {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 30px;
  /* border: none; */
  /* border-bottom: 2px solid var(--red); */
  border: 2px solid var(--red);
  border-radius: 12px;
  outline: none;
  background: transparent;
}

.addBeerHeader {
  text-align: center;
}

.selectBeerProp {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid var(--red);
  outline: none;
  background: transparent;
}

.brandBox {
  position: relative;
}

.inputField {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--black);
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid var(--red);
  outline: none;
  background: transparent;
}

.beerLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--black);
  pointer-events: none;
  transition: top 0.5s, left 0.5s, color 0.5s, font-size 0.5s;
}

.inputField:focus ~ .beerLabel,
.inputField:valid ~ .beerLabel {
  top: -20px;
  left: 0;
  color: var(--black);
  font-size: 12px;
}

.checkboxContainer {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 15px;
}

.optionCheckbox:checked + .checkboxLabel {
  background: var(--red);
  color: white;
}
.checkboxLabel {
  font-size: 16px;
  color: var(--gray);
  background: var(--yellow);
  padding: 8px 15px;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  text-transform: lowercase;
  font-weight: 400;
  cursor: pointer;
}

.optionCheckbox {
  display: none;
}

#addBeerButton {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 30px;
  background-color: var(--yellow);
  box-shadow: 0 10px 20px -8px var(--grey);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 12px;
}

#addBeerButton:hover {
  box-shadow: 0 10px 20px -4px var(--grey);
  text-shadow: var(--grey) 1px 0 3px;
}
.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.empty {
  display: block;
  width: 100%;
  height: 120px;
}

.noBrandQuestion {
  display: flex;

  gap: 1rem;
  margin: 2rem;
}
.brandQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
