.container {
  margin: 100px 30px 0 250px;
  width: 70%;
  box-sizing: border-box;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 40px 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand {
  margin: 1rem;
}
.beerCard{
  width: 100%;
}