.container {
  margin: 100px 30px 0 250px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fullBeerCard {
  max-width: 740px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 40px 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand {
  margin: 1rem;
}
.brand p {
  margin: 10px 0 10px 0;
}
.beerCard {
  width: 100%;
}
.navi {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 3rem  0 0;
  padding: 20px;
}
