.mainLayout {
  font-size: 62.5%;
  box-sizing: border-box;
  min-width: 320px;
  display: flex;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.greeting {
  position: absolute;
  left: 20%;
  top: 5%;
  font-size: 8rem;
  margin: 10%;
}

.question {
  display: block;
  text-align: start;
  position: absolute;
  right: 15%;
  left: 30%;
  top: 40%;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--grey);
}

.button {
  font-weight: 700;
  position: absolute;
  right: 10%;
  bottom: 25%;
  font-size: 3rem;
  padding: 15px 30px;
  background-color: #ffcc00;
  box-shadow: 0 10px 20px -8px var(--grey);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 12px;
}
.button:hover {
  box-shadow: 0 10px 20px -4px var(--grey);
  text-shadow: var(--grey) 1px 0 3px;
}
.beer {
  font-weight: bolder;
  color: var(--red);
}
.link {
  text-decoration: none;
  color: var(--black);
}
