.container {
  margin-top: 100px;
  margin-left: 100px;
}

.listAllBrands {
  display: flex;
}
.controlPanel {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.searchResults {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.showBtn {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 30px;
  background-color: var(--yellow);
  box-shadow: 0 10px 20px -8px var(--grey);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 12px;
  margin: 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.searchBtn {
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 30px;
  height: 42px;
  margin: 0px 5px;
  background-color: var(--yellow);
  box-shadow: 0 10px 20px -8px var(--grey);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 12px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 30px;
  border: 2px solid var(--red);
  border-radius: 12px;
  outline: none;
  background: transparent;
}

.empty {
  height: 90px;
}
