.mainLayout {
  font-size: 62.5%;
  box-sizing: border-box;
  min-width: 320px;
  display: flex;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.greeting {
  position: absolute;
  left: 20%;
  top: 5%;
  font-size: 8rem;
  margin: 10%;
}

.question {
  display: block;
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: 3.5rem;
  font-weight: bold;
  color: #556067;
}

.button {
  font-weight: bolder;
  position: absolute;
  right: 10%;
  bottom: 15%;
  font-size: 3rem;
  padding: 25px;
  background-color: #ffcc00;
  color: #cf0000;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}
.button:hover {
  box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 0.7);
  text-shadow: 0px 0px 2px #000000;
  text-shadow: rgb(255, 128, 0) 1px 0 6px;
}
.beer {
  font-weight: bolder;
  color: #cf0000;
}
