.mainLayout {
  background-color: #f6f8fc;
  font-size: 62.5%;
  box-sizing: border-box;
  min-width: 320px;
  height: 100vh;
  /* contain: content; change this to height: 100vh; later */
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  display: flex;
  z-index: -1;
}
.header {
  display: inline-block;
  position: absolute;
  font-size: 2rem;
  margin: 15px;
}

.greeting {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 8rem;
  margin-top: 10%;
  margin-left: 10%;
}

.question {
  display: block;
  position: relative;
  left: 12%;
  top: 36%;
  font-size: 3.5rem;
  font-weight: bold;
  color: #556067;
}

.button {
  font-weight: bolder;
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 65%;
  font-size: 5rem;
  padding: 20px;
  background-color: #ffcc00;
  color: #ff0000;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 7px 3px #d4d5d6;
}
.beer {
  font-weight: bolder;
  color: #ff0000;
}
